<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.board.mappers.memberMapper">
  	
  	<!-- 회원가입 -->
  	<insert id="signUp">
  		insert into member(member_id, member_pwd)
  			values(#{member_id}, #{member_pwd})
  	</insert>
  	
  	<!-- 아이디 중복체크 -->
  	<select id="idChk" resultType="int">
  		SELECT count(*) from member
  		WHERE member_id = #{member_id}
  	</select>
  	
  	<!-- 로그인시 아이디, 비밀번호 일치여부 확인 --> 
  	<select id="IdPwChk" resultType="int">
  		SELECT count(*) from member
  		WHERE member_id = #{member_id} AND member_pwd = #{member_pwd}
  	</select>
  	 
  	 <!-- 로그인 -->
  	 <select id="login" resultType="com.board.domain.MemberVO">
		SELECT member_id, member_pwd FROM member 
		WHERE member_id = #{member_id} AND member_pwd = #{member_pwd}
  	</select>
  	
  </mapper>